html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: black;
  font-size: 0;
}
#stage {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
#textures {
  display: none;
}
