html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: black;
  font-size: 0;
}
#stage {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#textures {
  display: none;
}
